/* header */
body{
  padding: 0;
  margin: 0;
}


.header {
  display: grid;
  grid-template-areas: "left1 left2 search right";
  grid-template-columns: 1fr 1fr 3fr 1fr;
  flex-direction: auto;
  padding: 14px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  float: inherit;
  font-size: 1.5rem;
  background-color: salmon;
}


.header .left1{
  grid-area: left1;
  /* float: left; */
  /* margin-right: 20px; */
  /* background-color: blue; */
}

.header .left2{
  grid-area: left2;
  /* float: left; */
  /* margin-right: 20px; */
  /* background-color: blue; */
}

.header .search{
  grid-area: search;
  transition: width 0.4s ease-in-out;
  /* background-color: red; */
}

.header .search-box{
  width: 40%;
  height: 1.5rem;
  margin: 2%;
  transition: width 0.4s ease-in-out;
}
.search input[type=text]:focus {
  width: 80%;
}

.header .right{
  grid-area: right;
  /* float: right; */
  /* background-color: black; */
}

/* end of header */


/* Choco */

.buy-container h2{
  font-size: 18px;
}

.buy-container p{
  font-size: 16px;
}

.buy-container{
  margin-top: 70px;
  position: relative;
  padding-right: 20%;
}

.buy{
  padding-left: 5%;
  display: flex;
  flex-direction: row;
}

.buy-choco{
  margin-right: 7%;
}

.buy-choco img{
  height: 100%;
  width: 100%;
  border: solid;
}

.choco-details{
  margin-left: 50px;
  max-width: 80%;
  word-wrap: break-word;
}

.choco-desc{
  max-width: 50%;
}

.amount-to-buy{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

/* .to-buy{
  border: solid;
  padding-bottom: 20px;
} */

.input-amount {
  border: solid;
  padding: 10px;
}

.input-amount button{
  outline: none;
  border: none;
  font-size: 22px;
  background-color: white;
}

/* adrress */
.Address{
  padding-left: 5%;
  padding-right: 20%;
  word-wrap: break-word;
}


.Address textarea{
  height: 150px;
  width: 100%;
  font-size: 15px;
}

/* end of address */


/* execute */
.execute{
  margin-top: 50px;
  padding-left: 5%;
  padding-right: 15%;
  text-align: right;
  font-size: 2rem;
}

.execute #cancel{
  background-color: orange;
  margin-right: 4%;
  padding: 5px;
}

.execute #proceed{
  background-color: orange;
  margin-right: 2%;
  padding: 5px;
}
.execute #cancel:hover,#proceed:hover{
  background-color: lightblue;
}


/* end of execute */